@model List<OnlineBankingSystem.Entity.UserAccount>
@{
    ViewData["Title"] = "Home Page";
    @using Microsoft.AspNetCore.Http
    @inject IHttpContextAccessor HttpContextAccessor
    string fullName = HttpContextAccessor.HttpContext.User.Claims.FirstOrDefault(x => x.Type == "FullName").Value;
}

<div class="text-center">
    <h1 class="display-4">Welcome @fullName</h1>


</div>


<div class="balance-container">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="row">

                    @{
                        if (Model?.Count > 0)
                        {
                            foreach (var item in @Model)
                            {
                                <div class="col-12">
                                    <h3 class="card-title">IBAN <span>@item.IBAN</span></h3>
                                </div>

                                <div class="col-12">
                                    <h3 class="card-title">BALANCE <span>@item.Balance.ToString("C")</span></h3>
                                </div>


                            }
                        }

                    }

                </div>


            </div>
        </div>
        <div class="mt-4"></div>
        <div class="transfer-form">
            <h3>Send Money</h3>

            <input type="hidden" id="SendIBAN" value="@Model.FirstOrDefault()?.IBAN" />
            <div class="mb-3">
                <input type="text" id="recipientAccount" class="form-control" placeholder="Recipient Account Number" required>
            </div>
            <div class="mb-3">
                <input type="text" id="recipientUserFullName" class="form-control" placeholder="Recipient User Full Name" required>
            </div>
            <div class="mb-3">
                <input type="number" id="amount" class="form-control" placeholder="Amount" required>
            </div>
            <button type="button" onclick="sendMony()" class="btn btn-primary" id="sendButton">Send</button>
        </div>

        <div class="transaction-history-btn">
            <button type="button" onclick="GetActivities()" class="btn btn-primary bg-info">Transaction History</button>
        </div>
    </div>
</div>


<style>
    .balance-container {
        margin-bottom: 20px;
    }

    .transfer-form input[type="number"] {
        margin-bottom: 10px;
    }

    .transaction-history-btn {
        margin-top: 20px;
    }
</style>

<script>

    async function GetActivities(){
        const iban = document.getElementById("SendIBAN").value;
        const response = await $.ajax({
            url: "/Home/GetUserAccountActivity?iban=" + iban,
            type: "GET", 
            contentType: "application/json"

        });
        console.log(response)
    }

    async function sendMony() {
        const SendIBAN = document.getElementById("SendIBAN").value;
        const Balance = document.getElementById("amount").value;
        const RecipientIBAN = document.getElementById("recipientAccount").value;
        const RecipientFullName =  document.getElementById("recipientUserFullName").value;

        const request = {
            SendIBAN: SendIBAN,
            Balance: Balance,
            RecipientIBAN: RecipientIBAN,
            RecipientFullName: RecipientFullName
        }

        console.log(request);

        try {
            const response = await $.ajax({
                url: "/Home/SendMony",
                type: "POST",
                data: JSON.stringify(request),
                contentType: "application/json"

            });

            if (response == true) {
                alert("Transfer tamamlandı")
                window.location.reload();
            }

        } catch (error) {
            alert('Bir hata oluştu.')

        }
    }
</script>